*{
    text-align: center;
    text-decoration: none;
}
body{
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.global{
    display: grid;
    place-items: center;
}
.container{
    border-radius: 15px;
    background:rgba(130, 255, 251, 0.63);
    margin-top: 30px;
    display: grid;
    place-items: center;
    width: 50%;
    height: 570px;
}

.nombre{
    bottom: 0;
    border:none;
    outline:none;
    left: 30%;
    border-radius: 15px;
    height: 40px;
    width: 50%;
    display: block;
    margin: 0 0 0 25%;
}
input[type="email"]{
    margin:10px 0 10px 0;
    border: none;
    border-radius: 15px;
    outline: none;
    width: 50%;
    height: 40px;
}
input[type="password"]{
    border: none;
    border-radius: 15px;
    outline: none;
    width: 50%;
    height: 40px;
    margin:0px 0 5px 0;
}
input[type="submit"]{

    outline:none;
    border:none;
    cursor: pointer;
    width: 50%;
    height: 40px;
    border-radius: 15px;
    background: #978cb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bdb36e, #947cdd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2bd96, #574491); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 1s;
}
input[type="submit"]:hover{
    font-size: 40px;
    background: gray;
}
a{
    font-size: 8px;
    display: block;
    margin-bottom: 5px;
    color: #000000;
    transition: 0.5s;
}
a:hover{
    color: #3d3d3d;
}
::placeholder{
    color: black;
}
input[type="text"]{
    border: none;
    border-radius: 15px;
    outline:none;
    width: 50%;
    height: 40px;
}
input[type="number"]{
    top: 10px;
    border: none;
    border-radius: 15px;
    outline:none;
    width: 50%;
    height: 40px;
}

.document{
    bottom: 0;
    border:none;
    outline:none;
    left: 30%;
    border-radius: 15px;
    height: 40px;
    width: 50%;
    display: block;
    margin: 0 0 0 25%;
}

.documento{
    bottom: 0;
    border:none;
    outline:none;
    left: 30%;
    border-radius: 15px;
    height: 40px;
    width: 50%;
    display: block;
    margin: 0 0 0 25%;
}
.btn {
  width: 200px;
  height: 60px;
  background: #ff6f3c;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.btn::before{
  content: 'Hover Aqui';
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}

.btn:hover::before{
  top: -30px;
}

.btn::after {
  font-family: 'FontAwesome';
  content: "\f004";
  font-size: 40px;
  color: red;
  position: absolute;
  top: 150%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}

.btn:hover::after {
  top: 50%;
}